
.main
{
    margin: 20px;
}

body
{
    font-family:'Courier New', Courier, monospace;
}

.menu1 a{
     color: white;
    margin: 10px;
    font-family:'Courier New', Courier, monospace;
    align-items: center;
}

.logo{ max-width: 150px;}

.header
{
    background-color: rgb(167, 42, 42);
}

.footer{
    
    
    background-position: bottom;
    color: white;
    padding: 5px;
    background-color: rgb(17, 29, 57);
    align-content: center;
    align-items: center;
}
.footer img{

    max-height: 50px;
    position: center;
    
}


/* Media Queries */

header{
    background-color: rgb(16, 69, 63);
}

header a{
    color: white;
}

.logo{
    width: 150px;
}

.menu-icone{
    width: 50px;
}

@media screen and (min-width: 1024px) {
    .login p{
        display: none;
    }
    .login i{
        position: absolute;
        right: 80px;
    }
}

@media screen and (max-width: 1023px) {
    .login i{
        display: none;
    }
}



/*  Corpo */

.modal-title 
{
    padding-left: 20px;
    padding-right: 25px;
}
.cima button
{
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.418);
    border: none;
    
}
.modal-body
{
    padding: 40px;
}
.primeira
{
    padding: 30px;
    border-radius: 20px;
    border: solid black 2px;
    background-color: rgba(0, 0, 0, 0.301);
    position: right;
}
body
{
    background: url("../imagens/fundo2.jpg") no-repeat right top;
    background-size: 100% 50%;
    background-color: rgb(17, 29, 57);
}
.sub
{
    margin-top: 10px;
    font-size: 12px;
}
.segunda
{
    margin-top: 50%;
    /* background-color: brown; */
    background-size: 0% 200%;
}
.segunda h1
{
   margin-bottom: 60px;
   color: white;
}
.carousel-inner
{
    border-radius: 20px;
    border: solid black 2px;
}
.carousel-inner h5
{
    color: white;
}

.modal-content
{
    border-radius: 40px;
    border: solid black 4px;
    background-color: rgb(255, 255, 255);
}
.primeira h1, p
{
    color: white;
}
.but
{
    background-color:rgba(0, 0, 0, 0.486) ;
    border: solid black 2px;
}
.but:hover
{
    background-color: rgba(255, 255, 255, 0.438);
    border: solid black 2px;
}
