.main {margin: 20px;}

body {font-family: 'Courier New', Courier, monospace;}

.menu1 a {
    color: white;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}

.logo {
  max-width: 150px;
  position: relative;
  top: -20px;
}

.header {background-color: rgb(167, 42, 42);}

.footer {
    color: white;
    padding: 5px;
    background-color: rgb(17, 29, 57);
    align-content: center;
    align-items: center;
}

.footer img {
    max-height: 50px;
    position: center;
}

/* Media Queries */

header {background-color: rgb(16, 69, 63);}

header a {color: white;}

.logo {width: 150px;}

.menu-icone {width: 50px;}

.login{
  position: absolute;
  right: 80px;
}

@media screen and (min-width: 1024px) {
    li .responsivo{display: none;}
}

@media screen and (max-width: 1023px) {
    .login i {
        display: none;
    }
    li .responsivo{display: block;}
}



/* main */

.main h1 {
    text-align: center;
    border-radius: 5px;
    border: solid black 2px;
}

.text-area {
    text-align: center;
    font-size: 16px;
    background-color: rgba(14, 133, 54, 0.349);
    margin-top: 35px;
    margin-bottom: 25px;
}

  /* carrousel */
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }
      
  .iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;    
  }
      
  .iframe-container iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
      
  #myCarousel a {
    opacity: 0% !important;
  }
          
#myCarousel a:hover {
  opacity: 100% !important;
}
          
#myCarousel li {
  opacity: 80% !important;
}
      
#myCarousel {
  border: 3px solid rgba(2, 31, 128, 0.671);
}
      
.carousel-caption {
  opacity: 0% !important;
}
      
.carousel-caption:hover {
  opacity: 100% !important;
  background-color: rgba(0, 0, 0, 0.39);
}