.main {
    margin: 20px;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.menu1 a {
    color: white;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}

.logo {
    max-width: 150px;
}

.header {
    background-color: rgb(167, 42, 42);
}

.footer {
    background-position: bottom;
    color: white;
    padding: 5px;
    background-color: rgb(17, 29, 57);
    align-content: center;
    align-items: center;
}

.footer img {
    max-height: 50px;
    position: center;
}

/* Media Queries */

header {
    background-color: rgb(16, 69, 63);
}

header a {
    color: white;
}

.logo {
    width: 150px;
}

.menu-icone {
    width: 50px;
}

@media screen and (min-width: 1024px) {
    .login p {
        display: none;
    }
    .login i {
        position: absolute;
        right: 80px;
    }
}

@media screen and (max-width: 1023px) {
    .login i {
        display: none;
    }
}

.main h1 {
    text-align: center;
    border-radius: 5px;
    border: solid black 2px;
}


.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}